<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#053566">
  <meta name="msapplication-navbutton-color" content="#053566">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="#053566">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="preload" href="/fonts/Cabin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Raleway-VF.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Raleway-Italic-VF.woff2" as="font" type="font/woff2" crossorigin>
  {% if site.tags != "" %}
    {% include collect-tags.html %}
  {% endif %}
</head> 